*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-cal{
    background-color: rgb(240,242,242);
}
#boxlayout{
    width:500px;
}
#inputNumber{
    height: 100px;
    font-size: 50px;
    text-align: right;
    border: none;
    background-color: rgb(240,242,242);
}
#deg{
    display: flex;
    margin-right: 15px;
}
#fe{
    display: flex;
    margin-left:10px;
}
#mc,#mr{
    color: rgb(160,160,160);
}
.icon-img{
    width: 20px;
    height: 25px;
    margin: 2px;
}
.fa-angle-down{
    margin-left: 5px ;
}
.power{
    position: relative;
    top: -15px;
}
#equalto{
    background-color: aqua;
    padding: 20px;
}
h4{
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
}